header,
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}


.content {
  width: 70%;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


body {
  background-color: #c3c7cf;
  margin: 0;

}


nav a {
  color: white;
  margin: 0 15px;
  text-decoration: underline;
  font-weight: bold;
}


.form-row {
  margin-bottom: 12px;
}

.form-row label {
  display: inline-block;
  width: 100px;
  /* keeps labels aligned */
  font-weight: 500;
}

.form-row input {
  padding: 6px;
  width: 200px;
}

.form-row textarea {
  padding: 6px;
  width: 200px;
}

.form-row button {
  width: auto;
  padding: 2px;

}